.Nayarificador
	&-holder
		background-image linear-gradient(170deg,#172b9a,#661075)
		min-height 100vh
		display flex
		
	&-form
		display flex
		flex-direction column
		height 200px
		justify-content space-between
		align-items center
		
		input
			height 80px
			font-size 30px
			width 400px
			border 0
			padding 0 10px
			
		button
			width 60%
			height 40px
			font-size 14px
			font-family Comic Sans MS
			background-image linear-gradient(170deg,green,#0e4a0e)
			color white
			border 0
			cursor pointer